<div id="project_page_title">
 	<h1>IX Past Projects</h1>
</div>

 <div class="container">
			
	<section id="dg-container" class="dg-container">
		<div class="dg-wrapper">

			<% @projects.each do |project| %>
				<li>
					<%= image_tag project.screenshot %>
					<div id="project_info">
						<%= project.url %>
						<% project.students.each do |student| %>
							<span><%= student.first_name + " " %></span>
						<% end %>
					</div>
				</li>
			<% end %>
			
		</div>

		<nav>	
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>

	</section>
</div>

















